
	/*.header	{
		background-image: url("/images/RosePlogo.png");
		display: inline-block;
    	width: 150px;
    	height: 75px;
    	
}*/

	#img {
		height: 100px;
}

	.background  {
		background-image: url("/images/bubbles.jpg");
}

	.navspace	{
		float: right;
	}

	/*.navbar	{
		border: 15px;
		padding: 0px;
		margin: 30px;
		width: 70%;*/



	}

	/*.header	{
		position: relative;
		vertical-align: top;
}*/
	.btn	{
		background-color: #C6C6C9;
}
	.form-control	{
		background-color: #C6C6C9;
	}
	.carousel	{
		background-color: #1F2024;
		padding: 5px;
		width: 65%;
		margin: auto;
		 
	}


.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }

.onebyone-carosel .active.left { left: -33.33%; }

.onebyone-carosel .active.right { left: 33.33%; }

.onebyone-carosel .next { left: 33.33%; }

.onebyone-carosel .prev { left: -33.33%; }

.carousel-example-generic { padding-bottom: 20px}










